.checkoutRecapItem-container {
  @include flex_separation;

  img {
    width: 64px;
    border-radius: 8px;
  }
  .checkoutRecapItem-content {
    display: flex;
    align-items: center;
  }


  .checkoutRecapItem-text {
    width: 100%;
    margin: 0 10px;
    p {
      margin: 0;
    }
  }

}

.checkoutForm-prices-container {
  div {
    @include flex_separation;
  }
  .checkout-total-price {
    color : $primary_color;
  }
}

