.modal_background {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  left: 0;
  top: 0px;
  height: 100vh;
  @include flex_midle;
}

.modal_container {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.modal_header {
  @include flex_separation;
}

.modal_form {
  @include flex_column;
  gap: 20px;
}
.modal_content {
  display: flex;
  margin: 8%;
  flex-direction: column;
  gap: 10px
}

.modalForm_section {
  @include flex_column;
  gap: 10px;
}
