.productSection_container {
  @include flex_separation;
  width: 100%;

  flex-wrap: wrap;
}

.articleSection-container {
  width: 100%;
  @include flex_separation;
}

.productSection_media {
  border-radius: 8px;
  background-color: $grey;
  max-width: 540px;
  width: 100%;
  height: 500px;
  @include flex_midle;
}

.articleDescription-content {
  min-height: 455px;
  max-height: 480px;
  width: 100%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .button-container {
    display: flex;
    align-items: center;
    button {
      margin: 0;
    }
  }
}

@media screen and (max-width: 995px) {
  .articleSection-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .articleSection-container {
    picture {
      width: 100%;
      height: 327px;
      margin: 20px 0;
    }
    .button-container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 460px) {
  .productList_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
