.productCard_container {
  max-width: 223px;
  width: 100%;
  @include flex_column;
  margin: 25px 0;
}

.productCard_media {
  height: 318px;

  background-color: $grey;
  border-radius: 12px;
  width: 223px;
  height: 318px;
  @include flex_midle;
}
