/// @type Color
$primary_color: #002961;
/// @type Color
$secondary_color: rgb(255, 105, 67);
/// @type Color
$light-grey: #fcf5ee;
/// @type Color
$background_white: #fafafa;
/// @type Color
$background_black: #101010;
/// @type Color
$white: #fff;
/// @type Color
$black: #000;

