.home_container {
  @include flex_column;
}

.productList_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.product_search {
  width: 100%;

  max-width: 450px;

  position: relative;
  @include flex_midle;
  input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
  }
  span {
    position: absolute;
    margin: 15px;
    right: 0px;
  }
}
